<div class="container" style="margin-top: 100px;">
    <h1 class="text-primary text-center">Productos</h1>
    <div class="row">
        {{#if products.length}}
        {{#each products}}
        <div class="col-sm-3" style="margin-top: 45px">
            <div class="card" style="width: 18rem;">
                <img src={{photo}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title text-center">{{name}}</h4>
                    <p class="card-text">{{description}}</p>
                    <div class="row">
                        <div class="col">
                            <span class="card-text"><strong>Precio:</strong>{{price}}</span>
                        </div>
                        <div class="col">
                            <span class="card-text"><strong>Cantidad:</strong>{{stock}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <a href="/edit_product/{{id}}" target="_blank" class="col-sm-5 btn btn-primary">Editar</a>
                        <div class="col-sm-2"></div>
                        <button class="col-sm-5 btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div>hola</div>
        {{/if}}
    </div>

</div>